name: Build verify Amber Nix
on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  nix_build:
    name: Nix build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        with:
          packages: bc
          version: 1.0
      - uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b # v27
      - name: Check Nix flake
        run: nix flake check --all-systems
      - name: Build in Nix shell
        run: nix develop --command cargo build --release
      - name: Build with Nix
        run: |
          nix build

          # Ensure that the `amber` binary runs
          ./result/bin/amber --version

          # Ensure that the `bc` command is correctly provided
          echo "\$which bc && bc --version\$ failed { echo \"Failed to run basic calculator\" exit(1) }" | ./result/bin/amber -
