name: Release Linux ARM

permissions:
  contents: write

on:
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y pkg-config libssl-dev

      - name: Install cross
        run: cargo install cross

      - name: Build with cross
        run: cross build --release --target aarch64-unknown-linux-gnu

      - name: Create .tar.xz archive
        run: tar -cJf amber-aarch64-unknown-linux-gnu.tar.xz -C ./resources . -C ../target/aarch64-unknown-linux-gnu/release amber

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
            files: amber-aarch64-unknown-linux-gnu.tar.xz
