name: Build test Amber Snap
on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  snap:
    name: Build snap
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: snapcore/action-build@3bdaa03e1ba6bf59a65f84a751d943d549a54e79 # v1.3.0
      id: snapcraft
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: ${{ github.event_name == 'release' }} #uploads the snap only if it's a release
      with:
        name: amber-snap
        path: ${{ steps.snapcraft.outputs.snap }}
