name: Build test Amber Snap
on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  snap:
    name: Build snap
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: snapcore/action-build@v1
      id: snapcraft
    - uses: actions/upload-artifact@v4
      if: ${{ github.event_name == 'release' }} #uploads the snap only if it's a release
      with:
        name: amber-snap
        path: ${{ steps.snapcraft.outputs.snap }}
